* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f8f9fa;
}

.main-container {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  padding: 0;
}

.login-wrapper {
  display: flex;
  align-items: center; /* Thêm vào để căn giữa theo chiều dọc */
  justify-content: center;
  background: white;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.image-section {
  flex: 6;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-container {
  flex: 4;
  padding: 0 4rem;
  height: 80%;
}

.login-container h2 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 30px;
}

.login-container p {
  margin-bottom: 3rem;
}
.form-control {
  height: 2rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid black;
}

.form-label {
  color: #aaaaaa;
}
.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.linkForgotPass {
  flex: 1;
  color: #545454;
}

.linkForgotPass a {
  color: black;
}

.btn {
  padding: 12px;
  flex: 1;
  border-radius: 2rem;
  background-color: #40cc6f;
}

.btn:hover {
  border: 2px solid #40cc6f;
}

.btn-login {
  margin-right: 1rem;
  width: 10rem;
  color: #ffffff;
}

.btn-register {
  width: 10rem;
  background: none;
}

.btn-loginFacebook {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  width: 15rem;
}

.btn-other {
  align-items: center;
  justify-content: center;
}
.btn-loginFacebook img {
  padding-right: 1rem;
}

.content-others {
  color: #8e8e8e;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 560px) {
  .login-container {
    width: 100%;
    max-width: 100%;
  }
}
